* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: red; */
  text-align: center;
  --btn-thickness: 32px;
}
p {
  margin-bottom: 50px;
}
.threedee-btn {
  font-size: 4rem;
  padding: 20px 34px;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;

  box-shadow: calc(-1 * var(--btn-thickness)) var(--btn-thickness) purple;
}
.threedee-btn::after,
.threedee-btn::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border: calc(var(--btn-thickness)) solid transparent;
  border-right-color: purple;
  border-left-width: 0;
  top: 0;
  left: calc(-1 * var(--btn-thickness));
}

.threedee-btn::before {
  left: auto;
  top: auto;
  border-right-color: transparent;
  border-top-color: purple;
  border-bottom-width: 0;
  bottom: calc(-1 * var(--btn-thickness));
  right: 0;
}

.threedee-btn:active {
  transform: translate(
    calc(var(--btn-thickness) / -2),
    calc(var(--btn-thickness) / 2)
  );
  box-shadow: calc(-1 * var(--btn-thickness) / 2) calc(var(--btn-thickness) / 2)
    rgb(102, 1, 102);
}

.threedee-btn:active::before {
  bottom: calc(-0.5 * var(--btn-thickness));
  border: calc(var(--btn-thickness) / 2) solid transparent;
  border-top-color: purple;
  border-bottom-width: 0;
}

.threedee-btn:active::after {
  left: calc(-0.5 * var(--btn-thickness));
  border: calc(var(--btn-thickness) / 2) solid transparent;
  border-right-color: purple;
  border-left-width: 0;
}

.parent {
  --box: 120px;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  background-color: powderblue;
  justify-content: space-evenly;
  align-content: center;
}
.parent > div {
  width: var(--box);
  height: var(--box);
  background-color: palevioletred;
  /* -webkit-clip-path: 50% at 50% 50%; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  /* display: inline-block; */
  margin: 0 0 40px 0;
  width: 100%;
}
img::after {
  content: "" attr(alt) " not found";
  display: inherit;
  width: 100%;
  min-width: 200px;
  border: 1px dotted;
  padding: 10px 20px 10px 45px;
  background-image: url("./header-bg.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 10px;

  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.three-d-text {
  /* font-size: 3rem; */
  /* text-transform: uppercase; */
  /* text-shadow: 1px 1px grey, 2px 2px grey, 3px 3px grey, 4px 4px grey,
    5px 5px grey, 6px 6px grey, 7px 7px grey, 8px 8px grey, 9px 9px grey,
    10px 10px grey, 11px 11px 15px rgba(0, 0, 0, 0.5);
  transform: skew(-5deg, -5deg) rotate(5deg);
  transform-origin: center center; */
}
