@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: rgb(246, 244, 210);
  margin: 0;
  /* primary: rgb(164, 74, 63); */
  /* secondary: rgb(241, 156, 121); */
}

nav {
  background-color: grey(164, 74, 63, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  box-shadow: 0 0 10px grey(0, 0, 0, 0.9);
}
nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

#about {
  height: 100vh;
  background-image: url(./header-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  text-align: center;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
}

#about * {
  position: relative;
  z-index: 5;
  margin: 0;
}

#about h1 {
  font-size: 60px;
}
#about p:first-of-type {
  font-size: 30px;
  margin-top: 20px;
}
#about p:last-child {
  max-width: 700px;
  margin-top: 20px;
  line-height: 2rem;
}

#project {
  text-align: center;
  margin-bottom: 20px;
}
#project h2 {
  margin: 0;
  padding-top: 52px;
  padding-bottom: 20px;
  font-size: 45px;
  text-shadow: 1px 1px 0 #e7eef1, 3px 3px 0px grey(0, 0, 0, 0.1);
}

#project .project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0px auto 0;
  padding: 0 40px;
  transition: filter 0.3s linear, transform 0.3s linear;
}

.project-container:hover .project {
  filter: blur(4px);
  transform: scale(0.9);
}
#project img {
  width: 100%;
}
#project .project:hover {
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 2px 2px 12px grey(0, 0, 0, 0.8), -2px -2px 12px grey(0, 0, 0, 0.8);
}
#project .project {
  width: 250px;
  margin: 10px;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  position: relative;
  flex-grow: 1;
  box-shadow: 0 0 8px grey(0, 0, 0, 0.8);
}

.project a {
  color: black;
  text-decoration: none;
}
a.link-to-github {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 15%;
  background-color: rgba(164, 74, 63, 0.9);
  border-bottom-left-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.7);
}

a.link-to-github:hover {
  background-color: grey;
}

#contact {
  text-align: center;
  background: rgb(241, 156, 121);
  padding: 30px 20px;
  color: white;
}
#contact h2 {
  margin: 0;
}
#contact p {
  margin: 0 0 20px;
}

#contact ul {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
#contact ul a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px;
  width: 50px;
  height: 50px;
  margin: 10px;
}

footer {
  background-color: rgb(164, 74, 63);
  padding: 20px;
  text-align: center;
  color: white;
}
footer i {
  color: red;
  margin: 0 5px;
}

@media screen and (max-width: 539px) {
  #project .project {
    max-width: 80%;
  }

  /* start remove blur effect */
  #project .project-container {
    padding: 0;
  }
  .project-container:hover .project {
    filter: none;
    transform: none;
  }
  #project .project:hover {
    filter: none;
    transform: none;
    box-shadow: 0 0 8px grey(0, 0, 0, 0.8);
  }
  /* end remove blur effect */
}
