@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* --primary-color-transparent: #dc143ce6;
  --primary-color: crimson; */
  --primary-color-transparent: #081431e6;
  --primary-color: #081431;
  --secondary-color: #040404;
  --body-color: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: var(--body-color);
  margin: 0;
}

.max-width {
  max-width: 900px;
  margin: auto;
}

nav {
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transition: background-color 0.5s ease-in, box-shadow 0.2s 0.5s linear;
}
.nav-bg {
  background-color: var(--primary-color-transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
nav a.branding {
  margin-left: 0;
  font-size: 2rem;
  text-shadow: -0.25px -1px #603cdc, -0.5px -1.5px #603cdc, -0.75px -2px #603cdc,
    -0.85px -2.25px #603cdc, -0.95px -2.5px #603cdc, -1px -3px 4px #603cdc;
  font-family: "Redressed";
}
nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  position: relative;
  margin-left: 50px;
}

nav a::after {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

#about {
  height: 100vh;
  background-image: url(/images/about-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  color: white;
  text-align: center;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
}

#about * {
  position: relative;
  z-index: 5;
  margin: 0;
}

#about .greetings {
  display: inline-block;
  font-size: 60px;
  letter-spacing: 20px;
  animation: slideIn 1s ease-in;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#about p {
  font-weight: normal;
  font-size: 20px;
}
#about p:first-of-type {
  font-size: 30px;
  margin-top: 20px;
}
#about p:last-child {
  max-width: 700px;
  margin-top: 20px;
  line-height: 2rem;
  position: relative;
}

.blink {
  animation: blink 0.6s infinite;
}
#about p:last-child::after {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--primary-color-transparent);
  background: linear-gradient(
    to bottom,
    var(--primary-color-transparent) 40%,
    var(--primary-color) 50%
  );

  position: absolute;
  top: 0;
  left: 0;
  animation: slideDown 2.5s 5s ease-in forwards;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes slideDown {
  to {
    opacity: 0;
    top: 100%;
    height: 0%;
  }
}

#project {
  text-align: center;
  margin-bottom: 20px;
}
#project h2 {
  margin: 0;
  padding-top: 52px;
  padding-bottom: 20px;
  font-size: 45px;
  text-shadow: 1px 1px 0 #e7eef1, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#project .project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0px auto 0;
  padding: 0 40px;
  transition: filter 0.3s linear, transform 0.3s linear;
}

.project-container:hover .project {
  filter: blur(4px);
  transform: scale(0.9);
}
#project img {
  width: 100%;
  min-height: 183px;
}
#project .project:hover {
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8), -2px -2px 12px rgba(0, 0, 0, 0.8);
}
#project .project {
  width: 250px;
  margin: 10px;
  transition: transform 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  position: relative;
  flex-grow: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.project a {
  color: black;
  text-decoration: none;
}
a.link-to-github {
  color: rgb(246, 244, 210);
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 15%;
  background-color: var(--primary-color);
  border-bottom-left-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

a.link-to-github:hover {
  background-color: rgb(246, 244, 210);
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  box-shadow: -3px 10px 20px #000000cc;
  transform: translateY(-3px);
}

a.link-to-github:active:hover {
  box-shadow: -1px 5px 10px #000000cc;
  transform: translateY(-1px);
}
#contact {
  text-align: center;
  background: var(--secondary-color);
  padding: 30px 20px;
  color: white;
}
#contact h2 {
  margin: 0;
}
#contact p {
  padding-top: 10px;
  margin: 0 0 20px;
}

#contact ul {
  margin: auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#contact ul a {
  color: var(--body-color);
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  clip-path: circle();
  border: solid 1px;
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  transition: border 0.2s;
}

#contact ul a:hover {
  border-width: 0;
  border-bottom-width: 5px;
  border-bottom-color: var(--primary-color);
}

.cv-parent {
  height: 100px;
}

.cv {
  text-transform: capitalize;
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  border: 1px solid white;
  padding: 10px 15px;
  transition: all 0.2s;
}
.cv:hover {
  border-width: 0;
  border-bottom-width: 5px;
  border-bottom-color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  color: white;
}
footer i {
  color: var(--body-color);
  margin: 0 5px;
}

@media screen and (max-width: 904px) {
  #project img {
    min-height: 277px;
  }
  .nav {
    padding: 0 30px;
  }
}

@media screen and (max-width: 577px) {
  nav a {
    margin-left: 15px;
  }
}
@media screen and (max-width: 539px) {
  nav a {
    margin-left: 15px;
  }
  #about .greetings {
    font-size: 40px;
    letter-spacing: 10px;
  }
  #about p {
    font-size: 16px;
  }
  #about p:first-of-type {
    font-size: 25px;
  }
  #project h2 {
    font-size: 35px;
  }
  #project img {
    min-height: auto;
  }
  #project .project {
    max-width: 80%;
  }
  #contact ul {
    max-width: 345px;
  }

  /* start remove blur effect */
  #project .project-container {
    padding: 0;
  }
  .project-container:hover .project {
    filter: none;
    transform: none;
  }
  #project .project:hover {
    filter: none;
    /* transform: none; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  /* end remove blur effect */
}
@media screen and (max-width: 472px) {
  .nav {
    padding: 0 15px;
  }
  nav a {
    font-size: 1rem;
  }
  nav a.branding {
    font-size: 1.5rem;
  }
}
