<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Starter Kit</title>
    <link rel="stylesheet" href="./vue.css" />
  </head>
  <body>
    <div id="app">
      <h1 id="letter">0</h1>
      <button id="nextLetter">Next Letter</button>
      <p v-for="(n,index) in 10">{{n}}: {{index}}</p>
      <p v-once>my name: {{name}}</p>
      <button @click="name='lulu'">Change name</button>
      <h1>
        My name is <small style="color: palevioletred">{{name}}</small>, I'm age
        {{age}}, a software dev. from Ogun state
      </h1>

      <li v-for="emp in employees">{{emp.name}}</li>

      <h1>
        <button @click="shuffle()" :style="{fontSize:'inherit'}">
          Shuffle name
        </button>
      </h1>
      <p>Methods invocation: {{sum(2)}}</p>
      <p v-bind:title="name" style="background-color: peru">
        The next paragraph
        <button
          v-on:click="num=44;num=Math.floor(Math.random()*100);clickMe(num)"
        >
          Click me
        </button>
      </p>
      <!-- <input
        type="text"
        v-on:keyup.enter.space.shift.meta="keyPressed"
        placeholder="Enter some keys"
      /> -->
      <input
        type="text"
        v-on:keyup.enter.control="result = $event.target.value"
        placeholder="Enter some keys"
      />
      <output>{{result}}</output>
      <div class="clicked" v-on:click="clickMe">
        <button v-on:click.once="clickMe">Click me</button>
        <a
          href="./index.html"
          target="_blank"
          rel="noopener noreferrer"
          v-on:click.prevent.stop="clickMe"
          >Goto my portfolio</a
        >
      </div>
      <!-- <form v-on:submit.prevent action=""> -->
      <input
        v-on:keydown.enter="names.push($event.target.value);$event.target.value=''"
        type="text"
        placeholder="add a new name"
      />
      <!-- </form> -->
      <form>
        <input type="email" name="" id="" multiple />
      </form>
      <table border="1">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(emp,index) in employees">
            <td>{{index+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li v-html="name" v-for="name in names">{{name}}</li>
      </ul>
      <form v-on:submit.prevent="submitForm" action="abc">
        <input type="text" /><input type="submit" value="Submit" />
      </form>
      <input type="text" placeholder="two-data-binding" v-model.number="age" />
      <br />
      <button v-on:click="isVisible =!isVisible">Toggle</button
      ><output>{{age+10}}</output>
      <p v-show="isVisible">Show this</p>
      <p v-if="isVisible">Show only - add/remove from the DOM</p>

      <input type="checkbox" v-on:click="isVisible=!isVisible" />
      <input
        v-model="password"
        v-bind:type="isVisible?'text':'password'"
        placeholder="Enter password"
      />
      output: {{password}}
      <p v-if="password.length>8">
        Awesome! Your password is longer than 8 characters.
      </p>
      <p v-else-if="password.length>0">Please enter a longer password</p>
      <p v-else>Please enter a password</p>

      <ol>
        <li v-for="category in categories">
          {{category.name}}
          <ul>
            <li v-for="sub in category.sub">{{sub}}</li>
          </ul>
        </li>
      </ol>
      <div id="parentElement">
        <span id="childElement">foo bar</span>

        <!-- v-model="calculateHex('red')" -->
        <input
          @keyup="myStyle.last=`#${$event.target.value}`"
          type="text"
          placeholder="Enter a color and click enter"
        />
        <div v-bind:style="{background:myStyle.last}">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
          mollitia.
        </div>
      </div>
      <!-- 
        v-on:click.meta.enter.space.prevent.stop='methodName[()]'
        v-bind:href='dataName'
        v-model.number.trim='dataName'
        v-once // render the tag only once
        v-html='dataName' // <div v-html='html'></div>
        v-if='boolean exp'
        v-else-if='boolean exp'
        v-else='boolean exp'
        v-show='booleanExp'
        v-cloak  // use css attribute selector to hide it: [v-cloak] used to hide string interpolation from the user
        v-for='(name,index) in dataProp' // loop
        v-for='(value,propertyName) in dataObject' <li v-for='() in dataType'>{{}}</li>
        v-for='n in 10'
       -->
    </div>
    <p onclick="changeAll(event,'34',true)">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      repellat?
    </p>
    <script>
      const changeAll = (e, num, bool) => {
        console.log(event, num, bool);
        console.log(e);
      };

      const letters = [
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
        "g",
        "h",
        "i",
        "j",
        "k",
        "l",
        "m",
        "n",
        "o",
        "p",
        "q",
        "r",
        "s",
        "t",
        "u",
        "v",
        "w",
        "x",
        "y",
        "z",
      ];
      // console.log(letters.splice(0, 1));
      console.log(letters.length);
      console.table(letters);

      const displayLetter = (mutateArr) => {
        if (!mutateArr.length) {
          document.querySelector("#letter").innerHTML = "Thank You!!";
          return;
        }
        console.log(mutateArr);
        document.querySelector("#letter").innerHTML = mutateArr.splice(0, 1)[0];
      };
      const shuffleArray = (originalArr) => {
        const copy = [...originalArr];
        const newArr = [];

        for (let index = 0, length = copy.length; index < length; index++) {
          const randomIndex = Math.floor(Math.random() * copy.length);
          const deleted = copy.splice(randomIndex, 1)[0];
          newArr.push(deleted);
        }
        return newArr;
      };

      const shuffledArr = shuffleArray(letters);
      document
        .querySelector("#nextLetter")
        .addEventListener("click", displayLetter.bind(null, shuffledArr));

      console.table(shuffledArr);

      console.log("After....");

      console.table(letters);
    </script>
    <!-- <script src="./vue.js"></script> -->
    <!-- <script src="./index.js"></script> --)>
  </body>
</html>

<!-- :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
} -->
  </body>
</html>
