<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Starter Kit</title>
    <link rel="stylesheet" href="./vue.css" />
  </head>
  <body>
    <div id="app">
      <h1>
        My name is <small style="color: palevioletred">{{name}}</small>, I'm age
        {{age}}, a software dev. from Ogun state
      </h1>
      <p>{{'Hi there'}}</p>
      <p>{{true}}</p>
      <p>{{JSON.stringify({sex:'male'})}}</p>
      <p>{{[2,3,4,{name:'stella'}]}}</p>
      <p>
        <code>[1,2,3,4].reduce((prev,cur)=>prev+cur)</code> =
        {{[1,2,3,4].reduce((prev,cur)=>prev+cur)}}
      </p>
      <p>Methos invocation: {{sum(' - fakers')}}</p>
      <p v-bind:title="name" style="background-color: peru">
        The next paragraph
        <button v-on:click="alert">Click me</button>
      </p>
      <!-- <input
        type="text"
        v-on:keyup.enter.space.shift.meta="keyPressed"
        placeholder="Enter some keys"
      /> -->
      <input
        type="text"
        v-on:keyup.enter.control="result = $event.target.value"
        placeholder="Enter some keys"
      />
      <output>{{result}}</output>
      <div class="clicked" v-on:click="clickMe">
        <button v-on:click.once="clickMe">Click me</button>
        <a
          href="./index.html"
          target="_blank"
          rel="noopener noreferrer"
          v-on:click.prevent.stop="clickMe"
          >Goto my portfolio</a
        >
      </div>
      <!-- <form v-on:submit.prevent action=""> -->
      <input
        v-on:keydown.enter="names.push($event.target.value);$event.target.value=''"
        type="text"
        placeholder="add a new name"
      />
      <!-- </form> -->
      <form>
        <input type="email" name="" id="" multiple />
      </form>
      <table border="1">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(emp,index) in employees">
            <td>{{index+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
          </tr>
        </tbody>
      </table>
      <ol>
        <li v-html="name" v-for="name in names">{{name}}</li>
      </ol>
      <form v-on:submit.prevent="submitForm" action="abc">
        <input type="text" /><input type="submit" value="Submit" />
      </form>
      <input type="text" placeholder="two-data-binding" v-model.number="age" />
      <br />
      <button v-on:click="isVisible =!isVisible">Toggle</button
      ><output>{{age+10}}</output>
      <p v-show="isVisible">Show this</p>
      <p v-if="isVisible">Show only - add/remove from the DOM</p>
    </div>
    <script src="./vue.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
